.about{
    padding-top: 120px;
    &__box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        position: relative;
        gap: 0 100px;
        img{

            height: 100%;
            place-self: center end;
        }
        &__info{
            place-self: center start;
            .descr{
                &__name{
                    display: block;
                    @include before_line;
                }
                &__introduce{
                    margin-top: 20px;
                }
                &__doing{
                    margin-top: 40px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 50px;
                    row-gap: 20px;
                    .card{
                        position: relative;
                        display: grid;
                        grid-template-columns: 20px 200px;
                        grid-template-rows: 20px auto;
                        column-gap: 26px;
                        row-gap: 5px;
                        &__icon{
                            grid-column: 1/2;
                            grid-row: 1/2;
                            position: absolute;
                            place-self: center start;
                            @include icon_before_cirecle;
                        }
                        &__name{
                            line-height: 20px;
                            place-self: start start;
                            grid-column: 2/3;
                            grid-row: 1/2;
                        }
                        &__descr{
                            grid-column: 1/3;
                            grid-row: 2/3;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    &__name{
        @include before_line;
    }
}