.contact{
    margin: 60px;
    background: white;
    &__wrapper{
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
        padding: 60px 35px 60px 50px;
    }
    &__subtitle{
        @include before_cirecle;
    }
    &__title{
        @include before_line;
        &:before{
            left: 3px;
            top: 47px;
        }
    }
    &__photo{
        grid-row: 1 / 3;
        img{
            width: 100%;
        }
    }
    &__body{
        &-text{
            margin-top: 20px;
            font-size: 16px;
            font-weight: bold;
        }
        &-social{
            margin-top: 20px;
            a{
                text-decoration: none;
            }
            img{
                width: 40px;
                margin-right: 15px;
            }
        }
    }
    &__form{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: 45px 190px 45px;
        justify-content: space-between;
        gap: 25px 30px;
    }
    &__input{
        position: relative;
        input{
            padding: 0 10px;
            width: 100%;
            height: 100%;
        }
        label{
            background: white;
            position: absolute;
            top: -12px;
            left: 15px;
            font-size: 12px;
            padding: 2px 5px;
        }
    }

    &__textarea{
        position: relative;
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        textarea{
            padding: 10px 10px;
            resize: none;
            width: 100%;
            height: 100%;
        }
        label{
            background: white;
            position: absolute;
            top: -12px;
            left: 15px;
            font-size: 12px;
            padding: 2px 5px;
        }
    }
    &__btn{
        border: none;
    }
}