.title{
    font-weight: Bold;
    line-height: 50px;
    font-size: 36px;
    position: relative;
    &_fz12{
        font-size: 12px;
    }
    &_fz10{
        font-size: 14px;
        font-weight: bold;
    }
    &_fz14{
        font-size: 14px;
        color: black;
        font-weight: bold;
    }
    
    &_fz16{
        font-size: 16px;
    }
    &_fz20{
        font-size: 20px;
        font-weight: bold;
    }
    &_36{
        font-size: 36px;
        
        

    }
    &_fz48{
        margin-top: 25px;
        color: white;
    }

   
}