.works{
    margin-top: 125px;
    &__subtitle{
        text-align: center;
        @include before_center_cirecle;
        &:before{
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__title{
        text-align: center;
        @include before_line;
        &:before{
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2, 280px) / repeat(4, 280px);
        gap: 5px;
    }
    .horizontal{
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    .vertical{
        grid-row: 1 / 3;
        grid-column: 4 / 5;
    }
    &__item{
        &:hover{
            transition: all .7s;
            transform: scale(1.05);
            filter: contrast(120%);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}